<div style="margin: auto; width: 70%;">
  <h1>Citation Formatter</h1>

  <textarea
    readonly="true"
    style="width: 800px; height: 120px; resize: none; font-size: 20px;"
    >{{ citationString }}</textarea
  >

  <button name="copyCitationButton" (click)="FormatCitationString(nameInput)">
    Copy citation
  </button>

  <br /><br />

  <button (click)="ResetSelectedItemId()">Reset selection</button>

  <select [(ngModel)]="selectedItemId" (change)="GetSelectedItemId()">
    <option *ngFor="let item of items" value="{{ item.id }}">
      {{ item.name }}
    </option>
  </select>

  <p>{{ selectedItemId }}</p>

  <label>Name (of author/uploader): </label>
  <input type="text" #nameInput (keyup)="FormatNameInput($event)" />
</div>
